@import 'variables.scss';
@import 'reset.scss';
@import 'loading.scss';
[ng-view]{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  padding-top: 0.60rem;
  box-sizing: border-box;
}
.icon {
  display: inline-block;
  position: relative;
  background-image:url("../imges/sprite-bg.png") ;
  background-size: 3.75rem auto;
}
.header {
  position: fixed;
  height: 0.50rem;
  width: 100%;
  left: 0;
  top: 0;
  background: $white;
  z-index: 15;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  color: $orange;
  font-size: 0.20rem;
  text-align: center;
  line-height: 0.50rem;
  box-shadow: 0 2px 1px #e6e6e6;
}
.confirmPurchase {
  background: $bg-color;
  .class-name {
    background-color: $white;
    padding: 0.20rem;
    margin-bottom: 0.10rem;
    h2 {
      font-size: 0.16rem;
      margin-bottom: 0.20rem;
    }
    .data {
      height: 0.50rem;
      overflow: hidden;
      .portrait {
        display: inline-block;
        width: 0.50rem;
        height: 0.50rem;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        margin-right: 0.10rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        float: left;
        p {
          height: 0.25rem;
          line-height: 0.25rem;
        }
      }
      .price {
        float: right;
        line-height: 0.50rem;
        font-size: 0.25rem;
        color: $pink;
      }
    }
  }
  .money-off {
    background-color: $white;
    padding: 0.20rem;
    overflow: hidden;
    line-height: 0.20rem;
    margin-bottom: 0.10rem;
    h2 {
      font-size: 0.16rem;
      float: left;
      span {
        color: $bule;
        margin-left: 0.10rem;
      }
    }
    p {
      float: right;
      color: $font-tips;
    }
  }
  .money-sum {
    background-color: $white;
    padding: 0.20rem;
    overflow: hidden;
    .sum-item {
      overflow: hidden;
      color: $font-tips;
      .money {
        float: right;
      }
    }
    .surplus {
      margin-top: 0.10rem;
      .money {
        color: $pink;
      }
    }
  }
  .footer {
    height: 0.40rem;
    line-height: 0.40rem;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    background-color: $white;
    .sum-price {
      float: left;
      width: 60%;
      font-size: 0.16rem;
      text-align: center;
      color: $pink;
    }
    .pay-btn {
      float: left;
      width: 40%;
      button {
        width: 100%;
        font-size: 0.16rem;
        background-color: $orange;
        height: 0.40rem;
        border: none;
        color: $white;
      }
    }
  }
}
.celebrateProfile {
  .profile {
    text-align: center;
    padding-top: 0.10rem;
    .profile-img {
      display: inline-block;
      width: 0.60rem;
      height: 0.60rem;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h2 {
      font-size: 0.14rem;
      margin-top: 0.15rem;
      b {
        font-weight: normal;
        font-size: 0.18rem;
      }
      span {
        color: $font-tips;
        margin-top: 0.10rem;
        display: inline-block;
      }
    }
    ul {
      width: 70%;
      margin: 0.20rem auto;
      display: flex;
      li {
        flex: 1;
        line-height: 0.20rem;
      }
    }
    button {
      font-size: 0.14rem;
      background-color: $orange;
      color: $white;
      height: 0.30rem;
      border: none;
      width: 0.60rem;
      line-height: 0.30rem;
      outline: none;
    }
  }
  .recent-work {
    padding: 0.20rem;
    h3 {
      font-weight: normal;
      font-size: 0.14rem;
      padding: 0 0 0.10rem 0;
      .more {
        float: right;
      }
    }
    ul {
      padding-left: 0.20rem;
      list-style: circle;
      position: relative;
      overflow: hidden;
      li {
        color: $font-tips;
        font-size: 0.14rem;
        padding: 0.10rem 0;
        position: relative;
        .date, .site {
          margin-right: 0.05rem;
        }
        .title {
          color: $font-text;
        }
        &:before {
          content: ' ';
          position: absolute;
          background-color: $font-tips;
          width: 1px;
          height: 50%;
          left: -0.14rem;
          top:0.28rem;
        }
        &:last-child {
          &:before {
            width: 0;
          }
        }
      }
    }
  }
  .live-work {
    padding: 0 0.20rem;
    h3 {
      font-weight: normal;
      font-size: 0.14rem;
      padding: 0 0 0.10rem 0;
    }
    ul {
      li {
        color: $font-tips;
        font-size: 0.14rem;
        padding: 0.10rem 0;
        position: relative;
        .img {
          width: 1.28rem;
          height: 0.80rem;
          overflow: hidden;
          float: left;
          margin-right: 0.10rem;
          img {
            width: 100%;
            height: auto;
          }
        }
        .text {
          height: 0.80rem;
          position: relative;
          h4 {
            color: $font-text;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
          }
          .sum {
            bottom: 0;
            position: absolute;
            left: 1.38rem;
          }
        }
      }
    }
  }
}
.yogaLife {
  [ng-view] {
    padding-top: 0.40rem;
  }
  .life-nav {
    padding-bottom: 0.10rem;
    background-color: $light-grey-bg;
    ul {
      display: flex;
      li {
        flex: 1;
        text-align: center;
        a {
          display: inline-block;
          width: 0.80rem;
          text-align: center;
          padding: 0.10rem 0;
        }
        a.actived {
          border-bottom: 2px solid $orange;
        }
      }
    }
  }
  .swiper-container {
    width: 100%;
    height: 1.15rem;
    .swiper-slide {
      img {
        width: 100%;
      }
    }
    .swiper-pagination {
      text-align: right;
      .swiper-pagination-bullet-active {
        background-color: $white;
      }
    }
  }
  .slider {
    position: relative;
    ul {
      li {
        height: 1.15rem;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
  }
  .news-nav-box {
    padding-bottom: 0.07rem;
    background-color: $light-grey-bg;
    .news-nav {
      display: flex;
      background-color: $white;
      border-bottom: 1px solid $light-border;
      li {
        flex: 1;
        text-align: center;
        font-size: 0.14rem;
        padding: 0.10rem 0;
        span {
          display: inline-block;
          width: 0.25rem;
          height: 0.25rem;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: 0.05rem;
        }
        &:nth-child(1) {
          span {
            background: url("../imges/oval1.png") center center / 0.25rem 0.25rem no-repeat;
          }
        }
        &:nth-child(2) {
          span {
            background: url("../imges/oval2.png") center center / 0.25rem 0.25rem no-repeat;
          }
        }
        &:nth-child(3) {
          span {
            background: url("../imges/oval3.png") center center / 0.25rem 0.25rem no-repeat;
          }
        }
      }
    }
  }
  .news-list {
    border-top: 1px solid $light-border;
    padding: 0.05rem;
    li {
      position: relative;
      padding: 0.05rem;
      overflow: hidden;
      .item-img {
        width: 1.34rem;
        height: 0.84rem;
        overflow: hidden;
        float: left;
        margin-right: 0.10rem;
        border: 1px solid $light-border;
        img {
          width: 100%;
          height: auto;
        }
      }
      .item-text {
        height: 0.84rem;
        font-size: 0.14rem;
      }

    }
  }
  .video-list {
    li {
      margin-bottom: 0.10rem;
      height: 1.40rem;
      width: 100%;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
      .bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        h2 {
          color: $white;
          font-size: 0.16rem;
          height: 1.40rem;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          width: 50%;
          padding: 0 0.50rem;
        }
      }
    }
  }
}
.liveWork {
  [ng-view] {
    padding-top: 0.50rem;
  }
  .swiper-container {
    width: 100%;
    height: 1.70rem;
    .swiper-slide {
      img {
        width: 100%;
      }
    }
    .swiper-pagination {
      text-align: right;
      .swiper-pagination-bullet-active {
        background-color: $white;
      }
    }
  }
  .live-work {
    border-top: 0.15rem solid $bg-color;
  }
  .work-list {
    li {
      padding: 0.20rem 0.10rem;
      &:first-child {
        color: $orange;
        line-height: 0.15rem;
        font-size: 0.15rem;
        padding-top: 0.15rem;
        padding-bottom: 0.05rem;
        .time-icon {
          display: inline-block;
          width: 0.15rem;
          height: 0.15rem;
          position: relative;
          top:0.02rem;
          margin-right: 0.05rem;
          background: url("../imges/time-icon.png") center center / 0.15rem 0.15rem no-repeat;
        }
      }
      .work-img {
        width: 1.60rem;
        height: 1.16rem;
        overflow: hidden;
        border-radius: 4px;
        float: left;
        margin-right: 0.10rem;
        img {
          width: 100%;
          min-height: 100%;
          height: auto;
        }
      }
      .work-text {
        h2 {
          color: rgba($font-title,0.85);
          font-size: 0.16rem;
          word-break:break-all;
          display:-webkit-box;
          -webkit-line-clamp:3;
          -webkit-box-orient:vertical;
          overflow:hidden;
          margin-bottom: 0.10rem;
          min-height: 0.56rem;
          font-family: PingFangSC-Medium;
        }
        .date {
          line-height: 0.20rem;
          margin-bottom: 0.10rem;
          color: $font-tips;
        }
        .watch-sum {
          line-height: 0.20rem;
          color: $font-tips;
        }
      }
    }
  }
}
.yogaNav {
  ul {
    li {
      height: 1.45rem;
      width: 100%;
      overflow: hidden;
      margin-bottom: 0.10rem;
      img {
        width: 100%;
      }
    }
  }
}