// colors
$black: #000000;
$white: #ffffff;
$grey: #a0a0a0;
$black: #000000;
$orange: #f5a623;
$purple: #d03cb4;
$bule: #4a90e2;

// color variables
$bg-color: #d8d8d8;
$sub-bg-color: #444444;
$modal-bg-color: rgba($black, 0.75);
$font-text: #4a4a4a;
$font-title:#282828;
$font-tips:#9b9b9b;
$action-color: $font-text;
$emphasis-color: $orange;


// font family
$font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, '微软雅黑', '黑体', Arial, 'Lucida Grande', sans-serif;

// font-size
$font-size-small: 0.12rem;
$font-size: 0.15rem;
$font-size-large: 0.18rem;

// font-weight
$font-weight: 400;
$font-weight-bold: 700;

// transition
$transition: all 0.5s ease-in-out;
