<div class="class-name">
  <h2>课程</h2>
  <div class="data">
    <div class="portrait">
      <img src="../../../../imges/eg1.jpeg">
    </div>
    <div class="text">
      <p>李晓钟</p>
      <p>女性健康子宫保养</p>
    </div>
    <div class="price">
      ￥18
    </div>
  </div>
</div>
<div class="money-off">
  <h2>优惠<span>0个优惠可用</span></h2>
  <p>未使用></p>
</div>
<div class="money-sum">
  <div class="sum-item">
    <span class="title">课程总价</span>
    <span class="money">￥18</span>
  </div>
  <div class="sum-item surplus">
    <span class="title">还需支付</span>
    <span class="money">￥18</span>
  </div>
</div>
<div class="footer">
  <div class="sum-price">
    还需支付：￥19.00
  </div>
  <div class="pay-btn">
    <button type="button">去支付</button>
  </div>
</div>