<div class="profile">
  <div class="profile-img">
    <img src="../../../../imges/eg1.jpeg">
  </div>
  <h2>
    <b>Jackie Cheng 肥仔</b><br>
    <span>服务万千女性的直男</span>
  </h2>
  <ul>
    <li>关注<br><span>3</span></li>
    <li>粉丝<br><span>22</span></li>
    <li>喜欢<br><span>15</span></li>
    <li>观看<br><span>1020</span></li>
  </ul>
  <button type="button">关注</button>
</div>
<div class="recent-work">
  <h3>近期行程<span class="more">更多>></span></h3>
  <ul>
    <li>
      <span class="date">11月1日</span>
      <span class="site">广州</span>
      <span class="title">上犬式和蛇式精讲工作坊</span>
    </li>
    <li>
      <span class="date">11月3日</span>
      <span class="site">北京</span>
      <span class="title">女性健康子宫保养</span>
    </li>
    <li>
      <span class="date">11月4日</span>
      <span class="site">上海</span>
      <span class="title">上犬式和蛇式精讲工作坊</span>
    </li>
    <li>
      <span class="date">11月1日</span>
      <span class="site">广州</span>
      <span class="title">上犬式和蛇式精讲工作坊</span>
    </li>

  </ul>
</div>
<div class="live-work">
  <h3>直播课程</h3>
  <ul>
    <li>
      <div class="img">
        <img src="../../../../imges/eg1.jpeg">
      </div>
      <div class="text">
        <h4>上犬式和蛇式精讲工作坊</h4>
        <p class="date">2016/11/1&nbsp;15:30</p>
        <p class="sum">观看人数：201</p>
      </div>
    </li>
    <li>
      <div class="img">
        <img src="../../../../imges/eg1.jpeg">
      </div>
      <div class="text">
        <h4>上犬式和蛇式精讲工作坊</h4>
        <p class="date">2016/11/1&nbsp;15:30</p>
        <p class="sum">观看人数：201</p>
      </div>
    </li>
  </ul>
</div>