<div class="video-live">
  <video poster="http://img.meelive.cn/MTQ3MzE1MjQ4MjI5OSMyNTUjanBn.jpg" controls>
    <source src="http://mvideo.spriteapp.cn/video/2016/0906/57ce924375786_wpcco.mp4" type="video/mp4"/>
    您的浏览器不能使用最新的视频播放方式呢
  </video>
</div>
<div class="editor">
  <div class="title">
    <img src="../../../../imges/bg-init.jpg"/>
  </div>
  <div class="text">
    <h2>苏C大调<span class="icon sex"></span><span class="level"></span></h2>
    <p>ID:88888888</p>
  </div>
</div>
<div class="anchor-list">
  <div class="list-nav active">柠檬热门</div>
  <div class="list-nav">她的历史</div>
  <div class="list-main">
    <ul>
      <li>
        <div class="img">
          <img src="../../../../imges/eg1.jpeg">
        </div>
        <p>你丑你先睡,我美我直播!查 Jia 铌正在直播,快来一起看铌正在直播,快来一起看铌正在直播,快来一起看铌正在直播,快来一起看</p>
      </li>
      <li>
        <div class="img">
          <img src="../../../../imges/eg1.jpeg">
        </div>
        <p>你丑你先睡,我美我直播!查 Jia 铌正在直播,快来一起看铌正在直播,快来一起看铌正在直播,快来一起看铌正在直播,快来一起看</p>
      </li>
      <li>
        <div class="img">
          <img src="../../../../imges/eg1.jpeg">
        </div>
        <p>你丑你先睡,我美我直播!查 Jia 铌正在直播,快来一起看铌正在直播,快来一起看铌正在直播,快来一起看铌正在直播,快来一起看</p>
      </li>
      <li>
        <div class="img">
          <img src="../../../../imges/eg1.jpeg">
        </div>
        <p>你丑你先睡,我美我直播!查 Jia 铌正在直播,快来一起看铌正在直播,快来一起看铌正在直播,快来一起看铌正在直播,快来一起看</p>
      </li>
    </ul>
  </div>
</div>