<div class="life-nav">
  <ul>
    <li><a class="actived">资讯</a></li>
    <li hm-tap="articlesNewFirst.aaa()"><a>视频</a></li>
  </ul>
</div>
<ks-swiper-container loop="true" show-nav-buttons="false" space-between="4" pagination-clickable="true" pagination-is-active="true">
  <ks-swiper-slide class="swiper-slide">
    <img src="../../../../imges/eg1.jpeg">
  </ks-swiper-slide>
  <ks-swiper-slide class="swiper-slide">
    <img src="../../../../imges/bg-init.jpg">
  </ks-swiper-slide>
  <ks-swiper-slide class="swiper-slide">
    <img src="../../../../imges/logo.jpg">
  </ks-swiper-slide>
  <ks-swiper-slide class="swiper-slide">
    <img src="../../../../imges/bg-init.jpg">
  </ks-swiper-slide>
</ks-swiper-container>

